<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="Home.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav class="bg-white p-3">
      <div class="max-w-7xl mx-auto flex justify-between items-center">
        <!-- ด้านซ้าย -->
        <div class="flex space-x-6">
          <a href="#" class="text-black hover:text-gray-700">หน้าหลัก</a>
          <a href="#" class="text-black hover:text-gray-700">วิเคราะห์โรค</a>
          <a href="#" class="text-black hover:text-gray-700">แจ้งการระบาด</a>
          <a href="#" class="text-black hover:text-gray-700">ข้อมูลโรคและการรักษา</a>
        </div>
    
        <!-- ด้านขวา -->
        <div>
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32" xml:space="preserve" class="h-8 w-8 text-black hover:opacity-80">
              <path d="M16 14c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm0-12c-2.757 0-5 2.243-5 5s2.243 5 5 5 5-2.243 5-5-2.243-5-5-5zM27 32a1 1 0 0 1-1-1v-6.115a6.95 6.95 0 0 0-6.942-6.943h-6.116A6.95 6.95 0 0 0 6 24.885V31a1 1 0 1 1-2 0v-6.115c0-4.93 4.012-8.943 8.942-8.943h6.116c4.93 0 8.942 4.012 8.942 8.943V31a1 1 0 0 1-1 1z"/>
            </svg>
          </a>
        </div>
      </div>
    </nav>

    <iframe class="py-5 px-2"
      src="https://www.tmd.go.th/weatherForecast7DaysWidget?province=สุราษฎร์ธานี"
      frameborder="0"
      width="100%"
      height="400px"
    ></iframe>
  </body>
</html>
